dist: trusty

language: node_js
node_js:
  - "12"

addons:
  chrome: stable
  firefox: latest

cache:
  directories:
     - ./node_modules

install:
  - npm ci

script:
  - npm run build
  - npm run test-ci -- --no-watch --no-progress --browsers=ChromeHeadlessCI
  - npm run test-ci -- --no-watch --no-progress --browsers=FirefoxHeadlessCI

before_deploy:
  - cd dist/ng-spy

deploy:
  on:
    tags: true
  provider: npm
  email: elshinnaweyom@gmail.com
  api_token: "$NPM_TOKEN"
  edge: true
