.navbar {
  height: 50px;
  padding: 0;
  margin: 0;
  width: 100vw;
  background-color: #3700B3;
  position: fixed;
}

.navbar__items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navbar__item {
  display: flex;
}

.navbar__link {
  padding: 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.navbar__link--active {
  background-color: #6200EE;
}

.navbar__link:hover {
  background-color: #6200EE;
}
