<app-navbar></app-navbar>

<app-container spyTarget="target-1">
  <h1>Hello, World!!</h1>
</app-container>

<app-container spyTarget="target-2">
  <h1>Hola, Mundo!!</h1>
</app-container>

<app-container spyTarget="target-3">
  <h1>Hello World!!</h1>
</app-container>

<app-container spyTarget="target-4">
  <h1>Hello World!!</h1>
</app-container>

<app-container>
  <strong>The active target is: {{activeTarget}}</strong>
  <app-custom-container-example (activeTarget)="setActiveTarget($event)"></app-custom-container-example>
</app-container>
